= simple_form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved"
      - @user.errors.full_messages.each do |msg|
        = msg
  .field
    = f.input :name
  .field 
    = f.input :email
  .field
    = f.input :password
  .field 
    = f.input :password_confirmation
  .actions
    = f.submit "Save"
