.post
  %fieldset
    %h3
      = post.header
    = post.content
    
    .responses
      - post.responses.first(3).each do |response|
        .response
        = render "response", :response => response

    - if signed_in? && (post.user == current_user)
      .actions
        = link_to 'Show', post
        = link_to 'Edit', edit_post_path(post)
        = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
