.left
  = link_to "Home", root_path
  = link_to "Benutzer", users_path
  = link_to "Posts", posts_path
  = link_to "Kontakt", contact_path
.right
  - if signed_in?
    = link_to "Account", current_user
    = link_to "Log out", signout_path, :method => :delete
  - else
    = link_to "Create account", new_user_path
