- if signed_in?
  .left
    = link_to "Home", root_path
    = link_to "Benutzer", users_path
    = link_to "Posts", posts_path
    = link_to "Kontakt", contact_path
  .right
    = link_to current_user.email, current_user
    = link_to "Log out", signout_path, :method => :delete
- else
  .right
    = link_to "Log in", signin_path
    = link_to "Create account", new_user_path
