!!! 5
%html
  %head
    %title LogoBlog
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    #container
      #header
        //#logo
        //  = link_to image_tag("logo.jpg"), root_path
        %h1= "LogoBlog"
      #container_navi
        = render 'layouts/navigation'
      #container_content
        = yield
      #padding
      
      .debug{:style => "margin-top: 100px"}
        - if Rails.env.development?# || Rails.env.production?
          = debug(params) 
          %div
            = request.user_agent
